@font-face {
	font-family: 'Inhuman';
	src: url('../fonts/InhumanSp.ttf') format('truetype');
}

/**
 * Markup free clearing.
 *
 * @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .clearfix {
  height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}

body {
	background-color: #585858;
}

.body {
	.content-wrapper{
		background: url('../images/main-bg.png') center top/100% auto no-repeat;
		width:1223px;
		margin-left: auto;
		margin-right: auto;
		nav {
			margin-left: 45px;
			a.index-link {
				display: block;
				width: 337px;
				height: 98px;
				float: left;
				background: url('../images/inhuman-title.png') center/85% auto no-repeat;
			}
			.tabs {
				margin-top:48px;
				margin-right:18px;
				float: right;
				a {
					font-family: 'Inhuman', verdana;
					color: black;
					text-decoration: none;
					font-weight: bold;
					font-size: 36px;
					padding-top: 8px;
					text-align: center;
					background: url('../images/nav-bg.png') center top/100% auto no-repeat;
					display: block;
					width: 131px;
					height: 42px;
					float: left;
					margin-left:10px;
				}
			}
		}
		.main {
			padding-top:50px;
			.left {
				float: left;
				margin-left:20px;
				.last-update {
					width: 154px;
					padding-top: 28px;
					font-family: verdana;
					background: url('../images/last-update.png') left top/100% auto no-repeat;
					p {
						margin: 0;
					}
				}
				.recent-pages {
					width: 200px;
					padding-top: 28px;
					background: url('../images/recent-pages.png') center top/70% auto no-repeat;
					text-align:center;
					font-family:verdana;
					font-size:16px;
					margin-top:20px;
					margin-bottom:-40px;
					a {
						text-decoration: none;
					}
				}
				.social-media {
					margin-top:70px;
					a {
						display: block;
						margin-bottom:20px;
						&.tumblr {
							width:60px;
							height:59px;
							background: url('../images/tumblr.png') 1px -1px/100% auto no-repeat;
						}
						&.twitter {
							width:60px;
							height:60px;
							background: url('../images/twitter.png') 1px -1px/100% auto no-repeat;
						}
						&.facebook {
							width:65px;
							height:66px;
							background: url('../images/facebook.png') center/100% auto no-repeat;
						}
					}
				}
				.fun-space {
					width:250px;
					height:200px;
					margin-top:20px;
				}
				
			}
			.right {
				float: right;
				a.patreon {
					display: block;
					right:-27px;
					position:relative;
					z-index:1;
					width:261px;
					height:255px;
					background: url('../images/patreon-clip.png') center/100% auto no-repeat;
				}
				.project-notes {
					display: block;
					width:261px;
					height:328px;
					background: url('../images/project-notes.png') center/100% auto no-repeat;
					position: relative;
					top:-60px;
					.worm-up {
						width:28px;
						height:50px;
						background: url('../images/worm-up.png') center/100% auto no-repeat;
						position: absolute;
						right:24px;
						top:56px;
						display:none;
					}
					.worm-down {
						width:32px;
						height:48px;
						background: url('../images/worm-down.png') center/100% auto no-repeat;
						position: absolute;
						bottom:55px;
						right:25px;
						display:none;
					}
					.notes-content {
						position: relative;
						overflow-y: auto;
						padding-right: 8px;
						width:152px;
						height: 182px;
						left:42px;
						top:72px;

						img {
							width:150px;
						}
					}
				}
			}
			.center {
				margin: auto;
				width: 650px;
				.text-content {
					width:inherit;
					height:482px;
					overflow-y:auto;
					font-family:verdana;
					margin-bottom:100px;
				}
				.text-title {
					font-family:verdana;
				}
				.high-res {
					text-align:center;
					a.high-res-link {
						text-decoration:none;
						font-family: 'Inhuman', verdana;
						color: black;
						font-size: 30px;
					}
				}
				.page {
					margin: 10px 0;
					text-align:center;
				}
				.top, .bottom {
					margin-left:0px;
					height:46px;
					a {
						display: block;
						&.first {
							width:78px;
							height:46px;
							float: left;
							margin-right:69px;
							background: url('../images/nav-first.png') center/100% auto no-repeat;
						}
						&.prev {
							width:61px;
							height:46px;
							float:left;
							background: url('../images/nav-prev.png') center/100% auto no-repeat;
						}
						&.next {
							width:52px;
							height:46px;
							float:right;
							margin-right:69px;
							background: url('../images/nav-next.png') center/100% auto no-repeat;
						}
						&.latest {
							width:83px;
							height:46px;
							float:right;
							background: url('../images/nav-latest.png') center/100% auto no-repeat;
						}
						&.index {
							opacity: 0.2;
						}
					}
				}
			}
		}
		footer {
			text-align: center;
			margin-top: 20px;
			font-family: verdana;
			font-size:12px;
		}
	}
}

/* Breakpoint for 1024px devices */

@media screen and (min-width:1024px) and (max-width:1279px) {
	.body {
		.content-wrapper{
			width:1004px;
			nav {
				margin-left: 35px;
				a.index-link {
					width: 278px;
					height: 80px;
				}
				.tabs {
					margin-top:30px;
					margin-right:14px;
					a {
						font-size: 36px;
						padding-top: 8px;
						width: 131px;
						height: 42px;
						margin-left:10px;
					}
				}
			}
			.main {
				padding-top:50px;
				.left {
					margin-left:20px;
					.last-update {
						min-width: 154px;
						padding-top: 28px;
					}
					.recent-pages {
						width: 154px;
						padding-top: 28px;
						background: url('../images/recent-pages.png') center top/90% auto no-repeat;
						font-size:14px;
						margin-top:20px;
						margin-bottom:-40px;
					}
					.social-media {
						margin-top:70px;
						a {
							margin-bottom:20px;
							&.tumblr {
								width:45px;
								height:45px;
							}
							&.twitter {
								width:45px;
								height:45px;
							}
							&.facebook {
								width:49px;
								height:50px;
							}
						}
					}
					.fun-space {
						width:154px;
						height:115px;
						margin-top:20px;
					}
					
				}
				.right {
					width:177px;
					a.patreon {
						right:-30px;
						width:161px;
						height:160px;
					}
					.project-notes {
						display: block;
						width:186px;
						height:276px;
						top:-67px;
						right:-5px;
						.worm-up {
							width:21px;
							height:37px;
							right:24px;
							top:56px;
						}
						.worm-down {
							width:24px;
							height:36px;
							bottom:55px;
							right:25px;
						}
						.notes-content {
							padding-right: 8px;
							width:110px;
							height: 136px;
							left:24px;
							top:72px;
							font-size:14px;

							img {
								width: 105px;
							}

						}
					}
				}
				.center {
					width: 650px;
					.text-content {
						width:610px;
						margin:auto;
						height:378px;
						margin-bottom:80px;
						padding-right:8px;
					}
					.text-title {
						padding: 0 20px;
					}
					.high-res {
						a.high-res-link {
							font-size: 30px;
						}
					}
					.page {
						margin: 10px 0;
					}
					.top, .bottom {
						margin-left:0px;
						height:46px;
						a {
							&.first {
								width:78px;
								height:46px;
								margin-right:69px;
							}
							&.prev {
								width:61px;
								height:46px;
							}
							&.next {
								width:52px;
								height:46px;
								float:right;
								margin-right:69px;
							}
							&.latest {
								width:83px;
								height:46px;
								float:right;
							}
						}
					}
				}
			}
			footer {
				margin-top: 20px;
				font-size:12px;
			}
		}
	}
}

/* Breakpoint for 768px devices, up and down */

/*@media screen and (max-width:1023px) {
	.body {
		.content-wrapper{
			width:733px;
			nav {
				margin-left: 26px;
				a.index-link {
					width: 203px;
					height: 58px;
				}
				.tabs {
					margin-top:22px;
					margin-right:10px;
					a {
						font-size: 26px;
						padding-top: 6px;
						width: 98px;
						height: 31px;
						margin-left:8px;
					}
				}
			}
			.main {
				padding-top:20px;
				.left {
					margin-left:20px;
					.last-update {
						min-width: 154px;
						padding-top: 28px;
						float:left;
					}
					.social-media {
						float:right;
						margin-top:0px;
						margin-left:60px;
						a {
							margin-bottom:0px;
							margin-left:19px;
							float:right;
							&.tumblr {
								width:60px;
								height:59px;
							}
							&.twitter {
								width:60px;
								height:60px;
							}
							&.facebook {
								width:65px;
								height:66px;
							}
						}
					}
					
				}
				.right {
					a.patreon {
						margin-right:-15px;
						width:147px;
						height:145px;
					}
				}
				.center {
					width: 650px;
					clear:both;
					.high-res {
						a.high-res-link {
							font-size: 30px;
						}
					}
					.page {
						margin: 10px 0;
					}
					.top, .bottom {
						margin-left:0px;
						height:46px;
						a {
							&.first {
								width:78px;
								height:46px;
								margin-right:69px;
							}
							&.prev {
								width:61px;
								height:46px;
							}
							&.next {
								width:52px;
								height:46px;
								float:right;
								margin-right:69px;
							}
							&.latest {
								width:83px;
								height:46px;
								float:right;
							}
						}
					}
				}
			}
			footer {
				margin-top: 20px;
				font-size:12px;
			}
		}
	}
}*/