@font-face {
	font-family: 'Inhuman';
	src: url('../fonts/InhumanSp.ttf') format('truetype');
}

/**
 * Markup free clearing.
 *
 * @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .clearfix {
  height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}

body {
	background-color: #585858;
}

.body {
	.content-wrapper{
		background: url('../images/main-bg.png') center top/100% auto no-repeat;
		width:1557px;
		margin-left: auto;
		margin-right: auto;
		nav {
			margin-left: 55px;
			a.index-link {
				display: block;
				width: 440px;
				height: 125px;
				float: left;
				background: url('../images/inhuman-title.png') center/100% auto no-repeat;
			}
			.tabs {
				margin-top:62px;
				margin-right:23px;
				float: right;
				a {
					font-family: 'Inhuman', verdana;
					color: black;
					text-decoration: none;
					font-weight: bold;
					font-size: 45px;
					padding-top: 10px;
					text-align: center;
					background: url('../images/nav-bg.png') center/100% auto top no-repeat;
					display: block;
					width: 160px;
					height: 60px;
					float: left;
					margin-left:10px;
				}
			}
		}
		.main {
			padding-top:50px;
			.left {
				float: left;
				margin-left:20px;
				.last-update {
					min-width: 188px;
					padding-top: 40px;
					font-family: verdana;
					background: url('../images/last-update.png') left top/100% auto no-repeat;
				}
				.social-media {
					margin-top:125px;
					a {
						display: block;
						margin-bottom:20px;
						&.tumblr {
							width:73px;
							height:72px;
							background: url('../images/tumblr.png') center/100% auto no-repeat;
						}
						&.twitter {
							width:73px;
							height:74px;
							background: url('../images/twitter.png') center/100% auto no-repeat;
						}
						&.facebook {
							width:80px;
							height:81px;
							background: url('../images/facebook.png') center/100% auto no-repeat;
						}
					}
				}
				
			}
			.right {
				float: right;
				a.patreon {
					display: block;
					margin-right:-32px;
					width:319px;
					height:311px;
					background: url('../images/patreon-clip.png') center/100% auto no-repeat;
				}
			}
			.center {
				margin: auto;
				width: 650px;
				.high-res {
					text-align:center;
					a.high-res-link {
						text-decoration:none;
						font-family: 'Inhuman', verdana;
						color: black;
						font-size: 30px;
					}
				}
				.page {
					margin: 30px 0;
					text-align:center;
				}
				.top, .bottom {
					margin-left:0px;
					height:56px;
					a {
						display: block;
						&.first {
							width:95px;
							height:56px;
							float: left;
							margin-right:85px;
							background: url('../images/nav-first.png') center/100% auto no-repeat;
						}
						&.prev {
							width:75px;
							height:56px;
							float:left;
							background: url('../images/nav-prev.png') center/100% auto no-repeat;
						}
						&.next {
							width:64px;
							height:56px;
							float:right;
							margin-right:85px;
							background: url('../images/nav-next.png') center/100% auto no-repeat;
						}
						&.latest {
							width:101px;
							height:56px;
							float:right;
							background: url('../images/nav-latest.png') center/100% auto no-repeat;
						}
					}
				}
			}
		}
		footer {
			text-align: center;
			margin-top: 20px;
			font-family: verdana;
			font-size:12px;
		}
	}
}