@font-face {
	font-family: 'Inhuman';
	src: url('../fonts/InhumanSp.ttf') format('truetype');
}

/**
 * Markup free clearing.
 *
 * @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .clearfix {
  height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}

body {
	background-color: #585858;
}

.body {
	.content-wrapper{
		background: url('../images/main-bg.png') center top/100% auto no-repeat;
		width:1223px;
		margin-left: auto;
		margin-right: auto;
		nav {
			margin-left: 45px;
			a.index-link {
				display: block;
				width: 337px;
				height: 98px;
				float: left;
				background: url('../images/inhuman-title.png') center/85% auto no-repeat;
			}
			.tabs {
				margin-top:48px;
				margin-right:18px;
				float: right;
				a {
					font-family: 'Inhuman', verdana;
					color: black;
					text-decoration: none;
					font-weight: bold;
					font-size: 36px;
					padding-top: 8px;
					text-align: center;
					background: url('../images/nav-bg.png') center top/100% auto no-repeat;
					display: block;
					width: 131px;
					height: 42px;
					float: left;
					margin-left:10px;
				}
			}
		}
		.main {
			padding-top:50px;
			.left {
				float: left;
				margin-left:20px;
				.last-update {
					min-width: 154px;
					padding-top: 28px;
					font-family: verdana;
					background: url('../images/last-update.png') left top/100% auto no-repeat;
					p {
						margin: 0;
					}
				}
				.social-media {
					margin-top:70px;
					a {
						display: block;
						margin-bottom:20px;
						&.tumblr {
							width:60px;
							height:59px;
							background: url('../images/tumblr.png') 1px -1px/100% auto no-repeat;
						}
						&.twitter {
							width:60px;
							height:60px;
							background: url('../images/twitter.png') 1px -1px/100% auto no-repeat;
						}
						&.facebook {
							width:65px;
							height:66px;
							background: url('../images/facebook.png') center/100% auto no-repeat;
						}
					}
				}
				
			}
			.right {
				float: right;
				a.patreon {
					display: block;
					margin-right:-27px;
					width:261px;
					height:255px;
					background: url('../images/patreon-clip.png') center/100% auto no-repeat;
				}
			}
			.center {
				margin: auto;
				width: 650px;
				.high-res {
					text-align:center;
					a.high-res-link {
						text-decoration:none;
						font-family: 'Inhuman', verdana;
						color: black;
						font-size: 30px;
					}
				}
				.page {
					margin: 10px 0;
					text-align:center;
				}
				.top, .bottom {
					margin-left:0px;
					height:46px;
					a {
						display: block;
						&.first {
							width:78px;
							height:46px;
							float: left;
							margin-right:69px;
							background: url('../images/nav-first.png') center/100% auto no-repeat;
						}
						&.prev {
							width:61px;
							height:46px;
							float:left;
							background: url('../images/nav-prev.png') center/100% auto no-repeat;
						}
						&.next {
							width:52px;
							height:46px;
							float:right;
							margin-right:69px;
							background: url('../images/nav-next.png') center/100% auto no-repeat;
						}
						&.latest {
							width:83px;
							height:46px;
							float:right;
							background: url('../images/nav-latest.png') center/100% auto no-repeat;
						}
					}
				}
			}
		}
		footer {
			text-align: center;
			margin-top: 20px;
			font-family: verdana;
			font-size:12px;
		}
	}
}

/* Breakpoint for 1024px devices */

@media screen and (min-width:1024px) and (max-width:1279px) {
	.body {
		.content-wrapper{
			width:1004px;
			nav {
				margin-left: 35px;
				a.index-link {
					width: 278px;
					height: 80px;
				}
				.tabs {
					margin-top:30px;
					margin-right:14px;
					a {
						font-size: 36px;
						padding-top: 8px;
						width: 131px;
						height: 42px;
						margin-left:10px;
					}
				}
			}
			.main {
				padding-top:50px;
				.left {
					margin-left:20px;
					.last-update {
						min-width: 154px;
						padding-top: 28px;
					}
					.social-media {
						margin-top:70px;
						a {
							margin-bottom:20px;
							&.tumblr {
								width:60px;
								height:59px;
							}
							&.twitter {
								width:60px;
								height:60px;
							}
							&.facebook {
								width:65px;
								height:66px;
							}
						}
					}
					
				}
				.right {
					a.patreon {
						margin-right:-20px;
						width:197px;
						height:195px;
					}
				}
				.center {
					width: 650px;
					.high-res {
						a.high-res-link {
							font-size: 30px;
						}
					}
					.page {
						margin: 10px 0;
					}
					.top, .bottom {
						margin-left:0px;
						height:46px;
						a {
							&.first {
								width:78px;
								height:46px;
								margin-right:69px;
							}
							&.prev {
								width:61px;
								height:46px;
							}
							&.next {
								width:52px;
								height:46px;
								float:right;
								margin-right:69px;
							}
							&.latest {
								width:83px;
								height:46px;
								float:right;
							}
						}
					}
				}
			}
			footer {
				margin-top: 20px;
				font-size:12px;
			}
		}
	}
}

/* Breakpoint for 768px devices, up and down */

/*@media screen and (max-width:1023px) {
	.body {
		.content-wrapper{
			width:733px;
			nav {
				margin-left: 26px;
				a.index-link {
					width: 203px;
					height: 58px;
				}
				.tabs {
					margin-top:22px;
					margin-right:10px;
					a {
						font-size: 26px;
						padding-top: 6px;
						width: 98px;
						height: 31px;
						margin-left:8px;
					}
				}
			}
			.main {
				padding-top:20px;
				.left {
					margin-left:20px;
					.last-update {
						min-width: 154px;
						padding-top: 28px;
						float:left;
					}
					.social-media {
						float:right;
						margin-top:0px;
						margin-left:60px;
						a {
							margin-bottom:0px;
							margin-left:19px;
							float:right;
							&.tumblr {
								width:60px;
								height:59px;
							}
							&.twitter {
								width:60px;
								height:60px;
							}
							&.facebook {
								width:65px;
								height:66px;
							}
						}
					}
					
				}
				.right {
					a.patreon {
						margin-right:-15px;
						width:147px;
						height:145px;
					}
				}
				.center {
					width: 650px;
					clear:both;
					.high-res {
						a.high-res-link {
							font-size: 30px;
						}
					}
					.page {
						margin: 10px 0;
					}
					.top, .bottom {
						margin-left:0px;
						height:46px;
						a {
							&.first {
								width:78px;
								height:46px;
								margin-right:69px;
							}
							&.prev {
								width:61px;
								height:46px;
							}
							&.next {
								width:52px;
								height:46px;
								float:right;
								margin-right:69px;
							}
							&.latest {
								width:83px;
								height:46px;
								float:right;
							}
						}
					}
				}
			}
			footer {
				margin-top: 20px;
				font-size:12px;
			}
		}
	}
}*/